.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          %h3.masthead-brand Un respiro a mi ciudad
          %ul.nav.masthead-nav
            %li.active
              %a{href: "#"} Inicio
            %li
              %a{href: "#"} Respiro
      .inner.cover
        %h1.cover-heading Lucy in the sky with pollutants.
        %p.lead Un respiro a mi ciudad es una aplicación que muestra toda la información de los contaminantes presentes en la ciudad.
        %p.lead
          %a.btn.btn-lg.btn-default{href: "#"} ver mas
      .mastfoot
        .inner
          %p
            powered
            = succeed "," do
              %a{href: "http://chirakiru.com"} chirakiru
            = succeed "." do
              %a{href: "https://twitter.com/chirakiru"} @chirakiru