<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Un respiro a mi ciudad</title>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Calidad del aire, air quality, Monterrey, aire, contaminación, un respiro a mi ciudad, contaminantes, PM 10, PM 2.5, ozono" />

<!-- IMAGE IO-->

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files -->
<!-- js -->
<script src="/js/jquery-1.11.1.min.js"></script> 
<!-- //js -->
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="/css/prettySticky.css" type="text/css">

<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<script src="/js/single.js"></script> 
<!-- //Custom Theme files -->

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="/js/single.js"></script> 
<!-- start-smoth-scrolling-->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>

<!--//end-smoth-scrolling-->
</head>
<body class="post">
	<!--banner-->
	<div  id="home" class="banner about-banner">
		<div class="banner-info">
      <!--navigation-->
      <div class="top-nav">
        <nav>
          <div class="container">
            <div class="navbar-header logo">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h1><a href="/"><img style="height: 100px; margin: -20px 0;"/></a></h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-right">
                <li><a href="/map.html" class="link-kumya"><span data-letters="Mapa">Mapa</span></a></li>  
                <li><a href="#" class="link-kumya dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Contaminantes">Contaminantes</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/pollutants/pm10.html">PM 10</a></li>
                    <li><a href="/pollutants/pm25.html">PM 2.5</a></li>
                    <li><a href="/pollutants/o3.html">Ozono</a></li>
                    <li><a href="/pollutants/co.html">Monóxido de Carbono</a></li>
                    <li><a href="/pollutants/no2.html">Óxido de Nitrógeno</a></li>
                    <li><a href="/pollutants/so2.html">Dióxido de azufre</a></li>
                  </ul>
                </li>
                <li><a href="/blog" class="link-kumya active"><span data-letters="Blog">Blog</span></a></li>
              </ul> 
              </ul> 
              <div class="clearfix"> </div>
            </div>
          </div>
        </nav>
      </div>  
      <div class="banner-text">
        <h2><!-- POST TITLE --></h2>
      </div>
      <!--//navigation-->
	  </div>
	</div>
	<!--//banner-->
	<!--single-page-->
	<div class="single-page blog">
		<div class="container">			
			<div class="col-md-8 col-md-offset-2">
				<div class="single-page-info">
					<!-- POST CONTENT --> 
				</div>	
				<div class="admin-text">
					<!-- ADMIN CONTENT -->
				</div>
			</div>	
			<div class="clearfix"> </div>
		</div>	
	</div>
	<!--//single-page-->
 <!--footer-->
  <div class="footer">
    <div class="container">
      <div class="col-md-9 footer-grids">
        <h3>Un Respiro a Mi Ciudad.</h3>
        <p>Tenemos a nuestra ciudad sofocada por la contaminación, estamos a un paso de llegar a una contingencía ambiental, por ello queremos ayudar a entender el tema de la calidad del aire, y a través de campañas ayudar a mejorarla y así poder darnos un respiro de aire puro.</p>
      </div>
      <div class="col-md-3 footer-grids">
        <h3>Contáctanos</h3>
        <p>unrespiroamiciudad @ gmail.com<br>
        o vía nuestras redes sociales.
        </p>
        <div class="footer-bottom">
          <a href="https://www.facebook.com/unrespiroamiciudad"><span>Facebook</span></a>
        </div>
      </div>
      <div class="clearfix"> </div>
      <div class="footer-copy">
        <p>© 2016 Un Respiro a Mi Ciudad.</p>
      </div>
    </div>
  </div>
  <!--//footer-->
	<!-- script-for prettySticky -->
	<script src="/js/prettySticky.js"></script>
	<!--//script-for prettySticky -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.js"></script>
</body>
</html>